*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #212121;
    min-height: 100vh;
    min-width: 100vw;
}

#hero-top{
    background: linear-gradient(to top, rgba(0,0,0,0.75)50%, rgba(0,0,0,0.75)50%), url(Assets/top.jpg);
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12vw;
}

.title{
    background-image: url(Assets/Netflix_Logo_PMS.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 13rem;
    height: 6rem;
    /* margin-left: 17vw; */
    /* margin-left: -12vw; */
}

#navbar-option{
    margin-left: 40vw;
}

.language-change{
    background: transparent;
    color: white;
    font-size: 1.6vh;
    font-weight: 500;
    /* font-weight: bold; */
    letter-spacing: 0.05rem;
    font-style: normal;
    padding: 0.4rem 1.1rem;
    border-radius: 8%;
    border: 0. solid white;
}

.language-change:focus-within{
    border: 2px solid white;
}

.option{
    color: black;
}

.sign-in{
    margin-left: 0.5vw;
    width: 4vw;
    height: 2vh;
    color: white;
    padding: 0.6rem 1.2rem;
    border-radius: 8%;
    font-size: 1.6vh;
    background: red;
    font-weight: 500;
    text-decoration: none;
}

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    margin-top: 25vh;
    color: white;
}

.heading-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subheading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subheading .first-subheading-line{
    font-size: 1.4rem;
    margin-top: 2vh;
}

.subheading .second-subheading-line{
    margin-top: 4vh;
    font-size: 1.2rem;
}
