* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

body {
    background-color: black;
    min-height: 100vh;
    max-width: 100vw;
}

#hero-top {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75)50%, rgba(0, 0, 0, 0.75)50%), url(Assets/top.jpg);
    height: 100vh;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 65vw;
    margin: auto;
}

.title img{
    width: 10vw;
    height: 8.5vh;
}

#navbar-option {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.language-change {
    background: transparent;
    color: white;
    font-size: 1.5vh;
    font-weight: 540;
    font-style: normal;
    font-weight: 600;
    padding: 0.4rem 1rem;
    height: 2.2rem;
    border-radius: 4px;
    border: 0.1 solid white;
}

.language-change:focus-within {
    border: 2px solid white;
}

.option {
    color: black;
}

.sign-in {
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.8rem;
    color: white;
    border-radius: 4px;
    font-size: 1.5vh;
    font-family: sans-serif;
    background: red;
    font-weight: 650;
    text-decoration: none;
}

.heading {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 26.6vh;
    color: white;
}

.heading-top {
    font-size: 1.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.second-line{
    margin-top: -3%;
}

.subheading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.subheading .first-subheading-line {
    font-size: 1.2rem;
    margin-top: 1vh;
}

.subheading .second-subheading-line {
    margin-top: 3vh;
    font-size: 1rem;
}

.email-form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    max-width: 80vw;
}

#email{
    font-size: 1rem;
    height: 3.5rem;
    width: 25vw;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background: transparent;
    border: 1px solid rgb(139, 138, 138);
    color: white;
    padding: 1rem;
    border-radius: 4px;
}

#email::placeholder{
    color: rgb(209, 199, 199);
    font-size: 0.9rem;
}

.button{
    height: 3.5rem;
    width: 11vw;
    border-radius: 4px;
    background-color: red;
    border: transparent;
    font-size: 1.5em;
    color: white;
}

.button:hover{
    cursor: pointer;
}

#hero-middle{
    position: relative;
    background: black;
    display: flex;
    justify-content: center;
    border-top: 4px solid red;
}

#movies-trending-now{
    max-width: 60vw;
}


.trending-now{
    padding-top: 5vh;
    padding-bottom: 3vh;
    color: white;
    font-weight: 800;
    font-size: 2.5rem;
    text-align: left;
    margin-left: -2vw;
}

.movie-cards-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 3vw;
    padding: 1rem;
}

.movie{
    border-radius: 0.5rem;
    background-size: cover;
    gap: 3vw;
    width: 11vw;
}

.number{
    font-size: 7rem;
    font-weight: 900;
    color: black;
    -webkit-text-stroke: 2px white;
    margin-top: -17vh;
    margin-left: -1.5vw;
}

.movie-cards{
    position: relative;
    transition: all 0.3s;
}

.movie-cards:hover{
    cursor: pointer;
    transform: scale(1.05);
}

