* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212121;
    min-height: 100vh;
    min-width: 100vw;
}

#hero-top {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75)50%, rgba(0, 0, 0, 0.75)50%), url(Assets/top.jpg);
    height: 100vh;
}

.navbar {
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center;
    margin-top: -1vh; */
}

.title {
    background-image: url(Assets/Netflix_Logo_PMS.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 12rem;
    height: 5.5rem;
    margin-left: 17vw;
    /* position: relative;
    margin-left: -3vw; */
}

#navbar-option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 43vw;
    display: flex;
    gap: 0.75rem;
}

.language-change {
    background: transparent;
    color: white;
    font-size: 1.5vh;
    font-weight: 540;
    /* font-weight: bold; */
    /* letter-spacing: 0.05rem; */
    font-style: normal;
    font-weight: 600;
    padding: 0.4rem 1rem;
    border-radius: 4px;
    border: 0.1 solid white;
}

.language-change:focus-within {
    border: 2px solid white;
}

.option {
    color: black;
}

.sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.8rem;
    color: white;
    border-radius: 4px;
    font-size: 1.4vh;
    font-family: sans-serif;
    background: red;
    font-weight: 650;
    text-decoration: none;
}

.heading {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 26.6vh;
    color: white;
}

.heading-top {
    font-size: 1.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.second-line{
    margin-top: -3%;
}

.subheading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.subheading .first-subheading-line {
    font-size: 1.2rem;
    margin-top: 1vh;
}

.subheading .second-subheading-line {
    margin-top: 3vh;
    font-size: 1rem;
}

